*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* header inizio */
header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color:#3161E0;
  height: 80px;
  border: solid blue;
}
nav{
  width: 1000px;
}
nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav ul li a{
  color: white;
}
nav ul li a:hover{
  background-color: rgb(17, 5, 188);
}
/* header fine */

/* jambotron inizio */
.jambotron-container{
  background-color: #3161E0;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: top 50px;;

}
.jambo{
  background-color: pink;
  height: 200px;
  width: 500px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  margin: auto;
  
  
}
.bottoni-jumb{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* jambotron fine */

/* box1 */
.container1{
  background-color: yellowgreen;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
}
.immagine1{
  height: 250px;
  width: 300px;
  display: inline-block;
  background-color: blue;
  display: flex;
  justify-content: center;
}
.testo1{
  height: 250px;
  width: 150px;
  display: inline-block;
  background-color: pink;
  display: flex;
  justify-content: center;
}
/* fine box1 */

/* box2 */

.container2{
  background-color: rgb(145, 96, 5);
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
}
.testo2{
  height: 250px;
  width: 150px;
  display: inline-block;
  background-color:pink;
  display: flex;
  justify-content: center;
}
.immagine2{
  height: 250px;
  width: 300px;
  display: inline-block;
  background-color: blue;
  display: flex;
  justify-content: center;
}
/* fine box2 */

/* box3 */
.container3{
  background-color: yellowgreen;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
}
.immagine3{
  height: 250px;
  width: 300px;
  display: inline-block;
  background-color: blue;
  display: flex;
  justify-content: center;
}
.testo3{
  height: 250px;
  width: 150px;
  display: inline-block;
  background-color: pink;
  display: flex;
  justify-content: center;
